<div class="<%=idClass%> category" onclick= <%= idClass == 'category-users2' ? 'mostrar()' : idClass == 'category-users5' ? "window.location.href='/users/security'" : idClass == 'category-users6' ? "window.location.href='/users/invoice'" : idClass == 'category-users4' ? 'mostrarDirecciones()':'' %>>
    <a href= "<%= idLink %>" ><i class="<%=icon%>"></i></a>
    <h3><%=name%></h3>
    <p><%=description%></p>
</div>