<div class="comentario">
    <div class="usuarioInfo">
        <img src="<%=userAvatar%>" alt="">
        <p>
            <%=username%>
        </p>
    </div>
    <div class="calificacionComentario">
        <p class="calificacion">
            
            <% for(let i=5; i>0; i--){ %>
                
                <% if(i <=calificacion){ %>                
                    <i class="fas fa-star start"></i>
                  
                    <% } else{%>
                        <i class="far fa-star start"></i>
                        <% }}%>
        </p>
        <p class="tituloComentario">
            <%= title %>
        </p>
    </div>

    <% if(verificado){ %>
        <p class="revision">Revisado en México el <span clas="fechaRevisionCompra">
                <%=fechaDeVerificacion%>
            </span> </p>
        <p class="verificacionDeCompra">Compra verificada</p>
        <% }%>

            <p class="contenidoComentario">
                <%= content %>
            </p>
            <form class="botonesDeComentarios">
                <label><input class="hidden" type="radio" name="like" value="like"><i
                        class="far fa-thumbs-up"></i></label>
                <label><input class="hidden" type="radio" name="like" value="dislike"><i
                        class="far fa-thumbs-down"></i></label>
                <label><input class="hidden" type="checkbox"><i
                        class="far fa-flag"></i></label>
                </form>
</div>