<section class="books" id="invoiceContainer">
    <h3>Mis datos de facturación</h3>
    <div class="invoices">
        <a href="/users/add-new-invoice" >
            <div class="invoiceBox addInvoice">
                <i class="fas fa-plus"></i>
                <h4>Agregar dirección</h4>
            </div>
        </a>
        <% const direcciones = user.direcciones %>
        <%if (user.direcciones) {%> 
            <% user.direcciones.forEach(direccion => {   %> 
                <% direccion.facturacion.forEach(invoice => {   %> 
                    <div class="addressBox">
                        <% if(invoice.predeterminada) {%> 
                            <div class="defaultAdress">
                                Predeterminada: &nbsp &nbsp 
                                <img src="/public/images/Logo_2.2.png">
                            </div>
                        <% } %> 
                        <div class="addressContent">
                            <p><strong><%= invoice.razonSocial %></strong></p>
                            <p><%= invoice.rfc %></p>
                            <% let addressInvoice = direccion%>
                            <p><%= addressInvoice.direccion %></p>
                            <p><%= addressInvoice.delegacion.trim() === "" ? addressInvoice.colonia : addressInvoice.delegacion + ", " + addressInvoice.colonia %></p>
                            <p><%= addressInvoice.ciudad %>, <%= addressInvoice.estado %></p>
                            <p><%= addressInvoice.pais %></p>
                            <p><%= addressInvoice.codigoPostal %></p>
                        </div>
            
                        <div class="addressButtons">
                            <a href="/users/edit-invoice/<%= invoice.id %>">Editar</a> | <form action="/users/delete-invoice/<%= invoice.id %>?_method=DELETE" method="POST"><button onclick="return confirm('¿Estás seguro que desea eliminar los datos de facturación?')" type="submit">Descartar</button></form>
                            <% if(!invoice.predeterminada){ %> 
                                | <form action="/users/make-default-invoice/<%= invoice.id %>?_method=PUT" method="POST">
                                    <button onclick="return confirm('¿Estás seguro que desea utilizar estos datos de facturación como predeterminados?')" type="submit">Predeterminada</button>
                                </form>
                            <% } %>
                        </div>
                    </div>
                <% }) %>
            <% }) %>
        <% } %>
    </div>
</section>