<% let dataHead = {
    css: ["css/home.css"],
    jsfile: ["./js/darkModeScript.js"],
    titulo: "Home - InsideBooks"
}%>

<%- include('./partials/head',dataHead) %>

<body>

<!--Barra de navegación PC-->
<%- include('./partials/navBar') %>

<!--Barra de navegación móviles -->
<%- include('./partials/navBarMobile') %>

<!--Banner promocional animado-->
<%- include('./partials/sliderStartBanner') %>

<main>
  <!--Botones de categorias principales-->
  <%- include('./partials/importantButtons') %>

  <div class="books-upper-left">
      <!--Tendencia en libros-->
      <section class="trends">
          <h3><%= nombreSeccion[0] %></h3>
          <div class="products">
              <% articulos.forEach(articulo => { %>
                  <% if(!articulo.nuevo){ %>
                  <%- include('./partials/articles', articulo) %>
                  <% } %>
                <% }) %>
          </div>
      </section>

      <!--Banner promocional-->
      <%- include('./partials/promotionalBanner')%>

      <!--Libros recomendados-->
      <section class="suggest">
          <h3 id="recomendados"><%= nombreSeccion[1] %></h3>
          <div class="products">
              <% articulos.forEach(articulo => { %>
                  <% if(!articulo.nuevo){ %>
                  <%- include('./partials/articles', articulo) %>
                  <% } %>
              <% }) %>
          </div>
      </section>
  </div>

  <!--Categoria de libros-->
  <section class="important-buttons" id="important-buttons-pc">
      <% categorias.forEach(categoria => { %>
          <%- include('./partials/categoryButtons', categoria) %>
      <% }) %>
  </section>
  
  <!--Parte inferior de Libros. No hay división horizontal-->
  <!--Lo más nuevo-->
  <section class="moreNew">
      <h3 id="nuevos"><%= nombreSeccion[2]%></h3>
      <div class="products" id="products-lower">
          <% articulos.forEach(articulo => { %>
              <% if(articulo.nuevo){ %>
              <%- include('./partials/articles', articulo) %>
              <% } %>
            <% }) %>
      </div>
  </section>

  <section class="banner-books" id="banner-hidden2">
      <img src="./images/bannerDescuentos.jpg" alt="promotions">
  </section>
    
  <!--Libros electrónicos-->
  <section class="ebooks">
      <h3 id="nuevos"><%= nombreSeccion[3]%></h3>
      <div class="products" id="products-lower">
          <% articulos.forEach(articulo => { %>
              <% if(!articulo.nuevo){ %>
              <%- include('./partials/articles', articulo) %>
              <% } %>
            <% }) %>
      </div>
  </section>

  <section class="separador">
      <img src="./images/separador.jpg" alt="promotions">
  </section> 

  <section class="button-beginning" id="beginning">
      <a href="#startBanner" class="inicio">INICIO</a>
  </section>
</main>
<%- include('./partials/footer') %>
</body>

</html>
