<% let data ={css:["css/searchBook.css"],
             jsfile:["./js/darkModeScript.js"],
             titulo: "Search Book"}%>

<%- include('./partials/head', data)%>

<body>
    <%- include('./partials/navBar') %>
  
    <!--Barra de navegación para móviles-->
    <%- include('./partials/navBarMobile') %>

    <!--Banner promocional con animaciones-->
    <%- include('./partials/sliderStartBanner') %>

    <main>
        <div class="sectionChange">
            
            <!--Categoria de libros-->
            <div class="imp-buttons-hidden">
                <section class="important-buttons" id="important-buttons-pc">
                    <% categorias.categoriasDeBotones.forEach((boton,n) => { %>
                        <%- include('./partials/categoryButtons', boton) %>
                    <% }) %>
                </section>
            </div>

            <div class="sideBarVer, sideBarPC" id="sideBarVer">
                <aside id="subjects">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeBarVer()"> &times cerrar</a>
                    <div class="index" id="indexFirst">
                        <% if (buttonPressed === 'searchBook') { %>
                            <%- include('./partials/mainCategoryAside',categorias.categoriaGeneral) %>
                        <% } else { %>
                            <%- include('./partials/mainCategoryAside', buttonPressed) %>
                        <% } %>                        
                    </div>
                        
                        <!--Campos de checkbox: idioma, formato, promociones-->
                        <% categorias.categoriasCheckbox.forEach(checkbox => { %>
                            <%- include('./partials/checkboxAside',checkbox) %>
                        <% }) %>
                        
                        <!--Opinión de los clientes-->
                        <%- include('./partials/starsAside',categorias.opinionesClientes)%>
                        
                        <!--Precio-->
                        <%- include('./partials/priceAside',categorias.precios) %>
                </aside>  
            </div>

            <!--Resultado de la búsqueda-->
            <div class="show-filter">
                <a href="#" onclick="openBarVer()"> &nbsp
                    Filtrar búsqueda </a>
            </div>
            <!--Resultados de la búsqueda-->
            <%- include('./partials/section', seccion.resultados) %>
            
        </div>

        <!--Banner promocional-->
        <%- include('./partials/promotionalBanner')%> 

        <!--Lo más nuevo-->
        <%- include('./partials/section', seccion.nuevos) %>

        <!--Libros electrónicos-->
        <%- include('./partials/section', seccion.ebooks) %>

        <!--Separador bonito -->
        <%- include('./partials/separador') %>    

        <!--Botón que retorna al incio de la página -->
        <%- include('./partials/botonAInicio') %>
    </main>

<%- include('./partials/footer') %>
</body>
</html>
