<% let data ={css:["css/home.css","css/navBar.css", "css/navBarMobile.css"],
             jsfile:["./js/darkModeScript.js"],
             titulo: "Home"}%>

<%- include('../partials/head', data)%>

<body>
  <%- include('../partials/navBar') %>
  <%- include('../partials/navBarMobile') %>

  <%- include('../partials/sliderStartBanner') %>

<main id="main">
  
  <!--Botones de categorias principales-->
  <section class="important-buttons">
      <% botonesPrincipales.categoriasDeBotonesHome.forEach(boton => { %>
          <%- include('../partials/importantButtons', boton) %>
      <% }) %>
  </section>

  <!--Tendencia en libros-->
  <%- include('../partials/section', seccion.tendencias) %>

  <!--Banner promocional-->
  <%- include('../partials/promotionalBanner')%>

  <!--Libros recomendados-->
  <%- include('../partials/section', seccion.recomendados) %>

  <!--Categoria de libros-->
  <section class="important-buttons" id="important-buttons-pc">
      <% categorias.categoriasDeBotones.forEach((boton,n) => { %>
          <% boton.n = n %>
          <%- include('../partials/categoryButtons', boton) %>
      <% }) %>
  </section>

  <!--Lo m치s nuevo-->
  <%- include('../partials/section', seccion.nuevos) %>

  <!--Banner promocional-->
  <%- include('../partials/promotionalBanner')%>

  <!--Libros electr칩nicos-->
  <%- include('../partials/section', seccion.ebooks) %>

  <!--Separador bonito -->
  <%- include('../partials/separador') %>

  <!--Bot칩n que retorna al incio de la p치gina -->
  <%- include('../partials/botonAInicio') %>

</main>

<%- include('../partials/footer') %>
</body>

</html>
