<% let data ={css:["css/myAccount.css","css/navBar.css", "css/navBarMobile.css"],
             jsfile:["./js/darkModeScript.js","./js/index.js"],
             titulo: "Security"}%>

<%- include('../partials/head', data)%>

<body>

    <%- include('../partials/navBar') %>
    <%- include('../partials/navBarMobile') %>

    <main>
       
        <section class="formContainer">
        
            <form class="editForm" action='/users/edit-data-user?_method=PUT' method="POST" enctype="multipart/form-data">
                <h4 class="formPath"><a href="/users/">Mi cuenta</a> > <a href="/users/">Mis seguridad</a> > <span>Editar inicio de sesión y seguridad</span></h4>
                <h3 class="formTitle">Editar inicio de sesión y seguridad</h3>
                
                <div class="entradaDeDatos">
                    <img src="/public/images/userProfile/user-default2.png" alt="portada" id="userImg">
                    <input id="portada" type="file" name="portada" accept="image/*" multiple=false
                        onchange="loadFile(event)">
                </div>

                <script>
                    let loadFile = function (event) {
                        let output = document.getElementById('userImg');
                        output.src = URL.createObjectURL(event.target.files[0]);
                        output.onload = function () {
                            URL.revokeObjectURL(output.src)
                        }
                    };
                </script>

                <div class="entradaDeDatos">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" value="<%=user.firstName%>">
                </div>
            
                <div class="entradaDeDatos">
                    <label for="apellido">Apellido</label>
                    <input type="text" name="apellido" id="apellido" value="<%=user.lastName%>">
                </div>
            
                <div class="entradaDeDatos">
                    <label for="correo">Correo electrónico</label>
                    <input type="email" name="correo" id="correo" value="<%=user.email%>">
                </div>
                
                <div class="entradaDeDatos">
                    <label for="cambiarContraseña">Cambiar contraseña</label>
                    <select id="cambiarContraseña" name="cambiarContraseña" onchange="changeFunc()">
                        <option value="si" id="siCambiarContraseña">Sí</option>
                        <option value="no" id="noCambiarContraseña" selected>No</option>
                    </select>
                </div>
                
                <div class="entradaDeDatos">
                    <label for="contraseña" id="labelContraseña">Contraseña</label>
                    <div class='passwordDiv'>
                        <input type="password" name="contraseña" id="PasswordInput" placeholder="Contraseña" value = "" 
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="La contraseña debe tener al menos una letra en mayúscula, una letra en minúscula y 8 caracteres">        
                        <span id="showIcon1"><i  id="passwordEye" class="flaticon-invisible"></i></span>
                    </div>
                </div>

                <div class="entradaDeDatos">
                    <label for="confContraseña" id="labelConfirmContraseña">Confirma tu contraseña</label>
                    <div class='passwordDiv'>
                        <input type="password" name="confContraseña" id="confirmPasswordInput" placeholder="Contraseña" value = "" 
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="La contraseña debe tener al menos una letra en mayúscula, una letra en minúscula y 8 caracteres">
                        <span id="showIcon2"><i id="confirmPasswordEye"  class="flaticon-invisible"></i></span>
                    </div>
                </div>
                
                <div class="formButtons">
                    <button class="blue" type="submit">Guardar</button>
                    <button type="reset" onclick="window.location.href='/users/'">Salir</button>
                </div>

                <script>
                    let changeFunc = function(){
                        const contraseña = document.getElementById('PasswordInput');
                        const labelContraseña = document.getElementById('labelContraseña');
                        const confContraseña = document.getElementById('confirmPasswordInput');
                        const labelConfContraseña = document.getElementById('labelConfirmContraseña');
                        const icon1 = document.getElementById('showIcon1');
                        const icon2 = document.getElementById('showIcon2');

                        let select = document.getElementById('cambiarContraseña');
                        let selectedValue = select.options[select.selectedIndex].value;

                        switch(selectedValue){
                            case 'si': 
                                console.log('Soy un Sí');
                                labelContraseña.style.display = 'block';
                                contraseña.style.display = 'block';
                                contraseña.value = "".trim()
                                labelConfContraseña.style.display = 'block';
                                confContraseña.style.display = 'block';
                                confContraseña.value= "".trim();
                                icon1.style.display = 'inline';
                                icon2.style.display = 'inline';
                                break;  
                            case 'no': 
                                console.log('Soy un No');
                                labelContraseña.style.display = 'none';
                                contraseña.style.display = 'none'
                                labelConfContraseña.style.display = 'none';
                                confContraseña.style.display = 'none';
                                icon1.style.display = 'none';
                                icon2.style.display = 'none';
                                break;
                        }
                    }
                </script>
            </form>
        </section>

        <%- include('../partials/section', favoritos) %>
        <%- include('../partials/section', busquedas) %>

        <!--Banner promocional-->
        <%- include('../partials/promotionalBanner')%>

        <%- include('../partials/section', busquedas) %>
        <!--Separador bonito -->
        <%- include('../partials/separador') %>

        <!--Botón que retorna al incio de la página -->
        <%- include('../partials/botonAInicio') %>

    </main>

    <%- include('../partials/footer') %>
    <script defer>
        function mostrar(){
            document.getElementById('favoritos').classList.toggle('ocultar')
            console.log('Estoy dentro')
        }
        document.getElementById('favoritos').classList.toggle('ocultar')
    </script>
</body>
</html>