<% let data ={css:["css/userForm.css","css/myAccount.css","css/navBar.css", "css/navBarMobile.css"],
             jsfile:["./js/darkModeScript.js","./js/index.js"],
             titulo: "Security"}%>

<%- include('../partials/head', data)%>

<body>

    <%- include('../partials/navBar') %>
    <%- include('../partials/navBarMobile') %>

    <main>
       
        <section class="formContainer">

            <% if(locals.mensaje) {%>
                <div class="alert-message <%= warning ? 'red-alert': 'green-alert'%>">
                    <a href="javascript:void(0)" class="closebtn1" onclick="closeMessage()">&times;</a>
                        <%- mensaje %>  
                </div>
                <script> 
                    setTimeout(() => {
                        document.querySelector(".alert-message").style.opacity = '0';
                    }, 10000);
                    setTimeout(() => {
                        document.querySelector(".alert-message").style.display = 'none';
                    }, 11000);

                    const closeMessage = () =>{
                        document.querySelector(".alert-message").style.opacity = '0';
                        setTimeout(() => {
                            document.querySelector(".alert-message").style.display = 'none';
                        }, 1000);
                    }
                </script>
            <%}%>
        
            <form class="editFormUser" action='/users/edit-data-user?_method=PATCH' method="POST" enctype="multipart/form-data">
                <h4 class="formPathUser"><a href="/users/">Mi cuenta</a> > <a href="/users/">Mis seguridad</a> > <span>Editar inicio de sesión y seguridad</span></h4>
                <h3 class="formTitleUser">Editar inicio de sesión y seguridad</h3>
                
                <div class="entradaDeDatosUser">
                    <img src="<%=user.imageUser ? user.imageUser: 'images/userProfile/user-default2.png'%>" alt="userImage" id="userImg">
                    <input id="userImage" type="file" name="userImage" accept="image/*" multiple=false
                        onchange="loadFile(event)">
                </div>

                <script>
                    let loadFile = function (event) {
                        let output = document.getElementById('userImg');
                        output.src = URL.createObjectURL(event.target.files[0]);
                        output.onload = function () {
                            URL.revokeObjectURL(output.src)
                        }
                    };
                </script>

                <div class="entradaDeDatosUser">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" value="<%=user.firstName %>">
                </div>

                <div class="entradaDeDatosUser">
                    <label for="apellido">Apellido</label>
                    <input type="text" name="apellido" id="apellido" value="<%=user.lastName%>">
                </div>

                <div class="entradaDeDatosUser">
                    <label for="correo">Correo electrónico</label>
                    <input type="email" name="correo" id="correo" value="<%=user.email%>">
                </div>
                
                <div class="formButtonsUser">
                    <button class="blue" type="submit">Guardar</button>
                </div>
            </form>

            <form class="editFormUser" action='/users/edit-data-user-password?_method=PUT' method="POST">

                <div class="entradaDeDatosUser">
                    <label for="cambiarContraseña">¿Desea cambiar la contraseña?</label>
                    <select id="cambiarContraseña" name="cambiarContraseña" onchange="changeFunc()">
                        <option value="si" id="siCambiarContraseña">Sí</option>
                        <option value="no" id="noCambiarContraseña" selected>No</option>
                    </select>
                </div>

                <input type="email" name="correo" id="correo" value="<%=user.email%>" style="display:none;">
                
                <div class="entradaDeDatosUser">
                    <label for="contraseñaActual" id="labelContraseñaActual">Ingrese tu contraseña actual</label>
                    <div class='passwordDiv'>
                        <input type="password" name="contraseñaActual" id="currentPasswordInput" placeholder="Contraseña actual" value = "" 
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="La contraseña debe tener al menos una letra en mayúscula, una letra en minúscula y 8 caracteres"
                            style="display:none">        
                    </div>
                </div>
                
                
                <div class="entradaDeDatosUser">
                    <label for="contraseña" id="labelContraseña">Ingrese tu nueva contraseña</label>
                    <div class='passwordDiv'>
                        <input type="password" name="contraseña" id="PasswordInput" placeholder="Contraseña" value = "" 
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="La contraseña debe tener al menos una letra en mayúscula, una letra en minúscula y 8 caracteres"
                            onchange='onChange()'>        
                        <span id="showIcon1"><i  id="passwordEye" class="flaticon-invisible"></i></span>
                    </div>
                </div>

                <div class="entradaDeDatosUser">
                    <label for="confContraseña" id="labelConfirmContraseña">Confirma tu nueva contraseña</label>
                    <div class='passwordDiv'>
                        <input type="password" name="confContraseña" id="confirmPasswordInput" placeholder="Contraseña" value = "" 
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="La contraseña debe tener al menos una letra en mayúscula, una letra en minúscula y 8 caracteres"
                            onchange='onChange()'>
                        <span id="showIcon2"><i id="confirmPasswordEye"  class="flaticon-invisible"></i></span>
                    </div>
                </div>

                <script>
                    function onChange() {
                        const select = document.querySelector('select[name=cambiarContraseña]')
                        const password = document.querySelector('input[name=contraseña]');
                        const confirm = document.querySelector('#confirmPasswordInput');
                        if(select.value === 'si'){
                            password.required = true;
                            confirm.required = true;
                            if (confirm.value === password.value) {
                                confirm.setCustomValidity('');
                            } else {
                                confirm.setCustomValidity('Las nueva contraseña y su confirmación, no coinciden');
                            }
                        }else{
                            password.required = false;
                            confirm.required = false;
                        }
                    }
                </script>
                
                <div class="formButtonsUser">
                    <button class="blue" id="bluePassword" type="submit">Guardar</button>
                </div>

                <div class="formButtonsUser">
                    <button type="reset" onclick="window.location.href='/users/'">Finalizado</button>
                </div>

                <script>
                    let changeFunc = function(){
                        const buttonPassword = document.getElementById('bluePassword');

                        const contraseña = document.getElementById('PasswordInput');
                        const labelContraseña = document.getElementById('labelContraseña');

                        const contraseñaActual = document.getElementById('currentPasswordInput');
                        const labelContraseñaActual = document.getElementById('labelContraseñaActual');

                        const confContraseña = document.getElementById('confirmPasswordInput');
                        const labelConfContraseña = document.getElementById('labelConfirmContraseña');

                        const icon1 = document.getElementById('showIcon1');
                        const icon2 = document.getElementById('showIcon2');

                        let select = document.getElementById('cambiarContraseña');
                        let selectedValue = select.options[select.selectedIndex].value;

                        switch(selectedValue){
                            case 'si': 
                                labelContraseña.style.display = 'block';
                                buttonPassword.style.display = 'block';
                                contraseña.style.display = 'block';
                                contraseña.value = "".trim()
                                labelContraseñaActual.style.display = 'block';
                                contraseñaActual.style.display = 'block';
                                contraseñaActual.value = "".trim();
                                labelConfContraseña.style.display = 'block';
                                confContraseña.style.display = 'block';
                                confContraseña.value= "".trim();
                                icon1.style.display = 'inline';
                                icon2.style.display = 'inline';
                                break;  
                            case 'no':
                                buttonPassword.style.display = 'none';
                                labelContraseñaActual.style.display = 'none';
                                contraseñaActual.style.display = 'none';
                                labelContraseña.style.display = 'none';
                                contraseña.style.display = 'none'
                                labelConfContraseña.style.display = 'none';
                                confContraseña.style.display = 'none';
                                icon1.style.display = 'none';
                                icon2.style.display = 'none';
                                break;
                        }
                    }
                </script>
            </form>
        </section>

        <%- include('../partials/section', busquedas) %>

        <!--Banner promocional-->
        <%- include('../partials/promotionalBanner')%>

        <%- include('../partials/section', nuevos) %>
        <!--Separador bonito -->
        <%- include('../partials/separador') %>

        <!--Botón que retorna al incio de la página -->
        <%- include('../partials/botonAInicio') %>

    </main>

    <%- include('../partials/footer') %>
    <script defer>
        function mostrar(){
            document.getElementById('favoritos').classList.toggle('ocultar')
            console.log('Estoy dentro')
        }
        document.getElementById('favoritos').classList.toggle('ocultar')
    </script>
</body>
</html>