<% let data ={css:["css/myAccount.css","css/navBar.css", "css/navBarMobile.css","alertMessage.css"],
             jsfile:["./js/darkModeScript.js"],
             titulo: "Invoice"}%>

<%- include('../partials/head', data)%>

<body>

    <%- include('../partials/navBar') %>
    <%- include('../partials/navBarMobile') %>

    <main id="main">
        <section class="formContainer">
        
            <% if(locals.mensaje) {%>
                <div class="alert-message <%= warning ? 'red-alert': 'green-alert'%>">
                    <a href="javascript:void(0)" class="closebtn1" onclick="closeMessage()">&times;</a>
                        <%- mensaje %>  
                </div>
                <script> 
                    setTimeout(() => {
                        document.querySelector(".alert-message").style.opacity = '0';
                    }, 10000);
                    setTimeout(() => {
                        document.querySelector(".alert-message").style.display = 'none';
                    }, 11000);

                    const closeMessage = () =>{
                        document.querySelector(".alert-message").style.opacity = '0';
                        setTimeout(() => {
                            document.querySelector(".alert-message").style.display = 'none';
                        }, 1000);
                    }
                </script>
            <%}%>

            <form class="editForm" action=<%= edit ? `/users/edit-invoice/${ user.id }?_method=PUT` : '/users/add-new-invoice' %> method="POST">
                <h4 class="formPath">
                    <a href="/users/">Mi cuenta</a>
                    >
                    <a href="/users/">Mis datos de facturación</a>
                    >
                    <span><%= edit ? "Editar datos de facturación" : "Agregar datos de facturación" %></span>
                </h4>
                <h3 class="formTitle"><%= edit ? "Editar datos de facturación" : "Agregar datos de facturación" %></h3>

                <div class="entradaDeDatos">
                    <label for="razonSocial">Nombre o Razón social</label>
                    <input type="text" id="razonSocial" name="razonSocial" value="<%= edit ? user.razonSocial : '' %>" autocomplete="on" required>
                </div>

                <div class="entradaDeDatos">
                    <label for="rfc">R.F.C</label>
                    <input type="text" id="rfc" name="rfc" value="<%= edit ? user.rfc : '' %>" autocomplete="on" required>
                </div>

                <div class="entradaDeDatos">
                    <label for="idDireccion">Seleccionar una dirección o agregar una nueva</label>
                    <select id="idDireccion" name="idDireccion">
                        <% direcciones.forEach(address => { %>
                            <option value= <%= address.id %> <%= edit && (address.id == user.idDireccion)? 'selected': '' %> required> <%= address.nombre + ', ' + address.direccion %> </option>
                        <% }) %>
                        <option value=""  onclick="mostrarAlerta()" <%= edit ? '' : 'selected' %> required >Agregar una nueva dirección </option>
                    </select>
                </div>

                <script> 
                    document.querySelector(".alert-message").style.display = 'none';
                    function mostrarAlerta(){
                        let opcion = confirm("¿Desea agregar una nueva dirección?")
                        if(opcion == true){
                            window.location.href='/users/add-new-address';
                        } 
                    }
                </script>

                <div class="formButtons">
                    <button class="blue" type="submit">Guardar</button>
                    <button type="reset" onclick="window.location.href='/users'">Salir</button>
                </div>
            </form>  
        </section>

        <%- include('../partials/section', busquedas) %>

        <%- include('../partials/section', nuevos) %>

        <!--Separador bonito -->
        <%- include('../partials/separador') %>

        <!--Botón que retorna al incio de la página -->
        <%- include('../partials/botonAInicio') %>

    </main>

    <%- include('../partials/footer') %>
    <script defer>
        function mostrar(){
            document.getElementById('favoritos').classList.toggle('ocultar')
            console.log('Estoy dentro')
        }
        document.getElementById('favoritos').classList.toggle('ocultar')
    </script>
</body>
</html>