<% let data ={css:["css/myAccount.css","css/navBar.css", "css/navBarMobile.css"],
             jsfile:["./js/darkModeScript.js"],
             titulo: "My account"}%>

<%- include('../partials/head', data)%>

<body>

    <%- include('../partials/navBar') %>
    <%- include('../partials/navBarMobile') %>

    <main>
        
        <section class="body-users">
            <div class="body-users-buttons">
                <h3>Mi cuenta</h3>
                <% botonesPrincipales.categoriasDeBotonesMyAccount.forEach(botonUser => { %>
                <%- include('../partials/categoryButtonsUser', botonUser)%> 
                <% })%>
            </div>
        </section>

        <%- include('../partials/section', favoritos) %>
        <%- include('../partials/address', user) %>
        <%- include('../partials/dataInvoices') %>
        <%- include('../partials/section', busquedas) %>

        <!--Banner promocional-->
        <%- include('../partials/promotionalBanner')%>

        <!--Separador bonito -->
        <%- include('../partials/separador') %>

        <!--Botón que retorna al incio de la página -->
        <%- include('../partials/botonAInicio') %>

    </main>

    <%- include('../partials/footer') %>
    <script defer>
        function mostrar(){
            document.getElementById('favoritos').classList.toggle('ocultar')
            console.log('Estoy dentro')
        }

        function mostrarDirecciones(){
            document.getElementsByClassName('addressContainer')[0].classList.toggle('ocultar')
        }

        function mostrarDatosFacturacion(){
            document.getElementById('invoiceContainer').classList.toggle('ocultar')
        }

        document.getElementById('favoritos').classList.toggle('ocultar')
        document.getElementsByClassName('addressContainer')[0].classList.toggle('ocultar')
        document.getElementsById('invoiceContainer').classList.toggle('ocultar')
    </script>
</body>
</html>
