<% let data ={css:["css/myAccount.css","css/navBar.css", "css/navBarMobile.css"],
             jsfile:["./js/darkModeScript.js"],
             titulo: "Security"}%>

<%- include('../partials/head', data)%>

<body>

    <%- include('../partials/navBar') %>
    <%- include('../partials/navBarMobile') %>

    <main>
        
        <section class="body-users">
            <div class="body-users-buttons">
                <h3>Mi seguridad</h3>
            </div>
        </section>

        <%- include('../partials/section', favoritos) %>
        <%- include('../partials/section', busquedas) %>

        <!--Banner promocional-->
        <%- include('../partials/promotionalBanner')%>

        <!--Separador bonito -->
        <%- include('../partials/separador') %>

        <!--Botón que retorna al incio de la página -->
        <%- include('../partials/botonAInicio') %>

    </main>

    <%- include('../partials/footer') %>
    <script defer>
        function mostrar(){
            document.getElementById('favoritos').classList.toggle('ocultar')
            console.log('Estoy dentro')
        }
        document.getElementById('favoritos').classList.toggle('ocultar')
    </script>
</body>
</html>