<% let data ={css:["css/agregarLibro.css","css/navBar.css", "css/navBarMobile.css"],
             jsfile:["./js/darkModeScript.js"],
             titulo: "Agregar libro"}%>

<%- include('../partials/head', data)%>

<body>
    
    <script src="https://cdn.tiny.cloud/1/3c54177q3lh311521ar9zn5r80ehbssagbubwkxw3apnsps3/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea',      
        });
    </script>

    <%- include('../partials/navBar') %>
    <%- include('../partials/navBarMobile') %>

    <h1 class="pageTitle"> <%- tittle %> </h1>

    <form class="addBooks" autocomplete="false" action="/producto/agregarLibro" method="POST" enctype="multipart/form-data">

        <img src="" alt="portada" id="portadaImg">

        <div class="uploadFile">
            <input type="file" id="portada" name="portada" accept="image/*" multiple=false
                onchange="loadFile(event)" class="inputfile">

          
            <label for="portada"  class="btn red"><i class="fas fa-upload"></i>&nbsp Subir Portada </label>
            <label style="text-overflow: ellipsis;" id="nombreArchivo" ></label>
        </div>

        <script>
            let loadFile = function (event) {
                let output = document.getElementById('portadaImg');
                let label = document.querySelector('#nombreArchivo')

                output.src = URL.createObjectURL(event.target.files[0]);
                label.innerHTML = event.target.files[0].name
                output.onload = function () {
                    URL.revokeObjectURL(output.src)
                }
            };
        </script>



        <div class="container tituloInput">
            <div class="inputContainer ">
                <input type="text" placeholder=" " name="nombre">
                <label>Título</label>
                <div class="error-message"></div>
            </div>
        </div>

        <div class="container autorInput">
            <div class="inputContainer">
                <input id="autor" placeholder=" " type="text" name="autor">
                <label>Autor</label>
                <div class="error-message"></div>
            </div>
        </div>

        <div class="container materiaInput">
            <div class="inputContainer">
                <input id="materia" placeholder=" " type="text" name="materia">
                <label>Materia</label>
                <div class="error-message"></div>
            </div>
        </div>

        <div class="container editorialInput">
            <div class="inputContainer ">
                <input id="editorial" placeholder=" "  type="text" name="editorial">
                <label>Editorial</label>
                <div class="error-message"></div>
            </div>
        </div>

        <div class="container isnbInput">
            <div class="inputContainer">
                <input id="isnb" type="text" placeholder=" " name="isbn">
                <label>ISBN</label>
            </div>
        </div>

        <div class="container">
            <div class="inputContainer numberContainer">
                <input id="precioBook" type="number" min="0" step="0.5" name="precioBook" placeholder=" ">
                <label>Precio del Libro</label>
            </div>
        </div>

        <div class="container selector">
            <div class="select">
                <select name="idioma" id="idioma" placeholder=" ">
                    <option value="Inglés">Inglés</option>
                    <option value="Español">Español</option>
                    <option value="Francés">Francés</option>
                    <option value="Italiano">Italiano</option>
                </select>
                <label class="select-label">Idioma</label>
            </div>
        </div>

        <div class="container ebookprice">
            <div class="inputContainer numberContainer">
                <input id="precioEBook" type="number" min="0" step="0.5" placeholder=" " name="precioEbook">
                <label>Precio del Ebook</label>
            </div>
        </div>

        <div class="container pagesInput">
            <div class="inputContainer numberContainer">
                <input type="number" id="paginas" name="paginas" min= "1" placeholder=" ">
                <label>Páginas</label>
            </div>
        </div>

        <div class="container yearInput">
            <div class="inputContainer numberContainer" >
                <input type="number" id="year" min="1980" max="2021" step="1" name="year" placeholder=" ">
                <label>Año</label>
            </div>
        </div>


        <div class="librosDetails">
            <h2>Acerca de este libro</h2>
            <textarea id="detallesLibro" name="detallesDelLibro">
          </textarea>
        </div>

        <div class="autorDetails">
            <h2>Acerca del autor</h2>
            <textarea id="detallesAutor" name="detallesAutor">
          </textarea>
        </div>

        <div class="botones">
            <button type="submit" class="btn agregar">Agregar libro</button>
            <button type="reset" class="btn red borrar" >Borrar campos</button>
        </div>
    </form>


<%- include('../partials/footer') %>

</body>

</html>
