<% let data ={css:["css/carrito.css","css/navBar.css", "css/navBarMobile.css"],
             jsfile:["./js/darkModeScript.js"],
             titulo: "Mi Carrito"}%>

<%- include('../partials/head', data)%>

<body>

    <%- include('../partials/navBar') %>
    <%- include('../partials/navBarMobile') %>

    <main>
        <h2 class="carritoTitle"><i class="fas fa-shopping-cart"></i>&nbsp Mi Carrito</h2>
        <section>
            <% articulos.forEach(book => { %> 
                <% let libro = book.dataValues%>
                <% if(book.dataValues.formato == 0 ||book.dataValues.formato == 1) {%>
                <%- include('../partials/articuloCarrito', libro) %> 
                <% } else{%>
                    <% book.dataValues.formato = 0 %>
                    <%- include('../partials/articuloCarrito', libro) %> 
                    <% book.dataValues.formato = 1 %>
                    <%- include('../partials/articuloCarrito', libro) %> 
                <% }%>    
            <% })%>  
            
            <% if(articulos.length == 0) { %> 
                <div style="padding: 40px; font-size: 20px;">No se han agregado artículos en su carrito.</div>
            <% }%>  
        </section>

        <article class="totalAPagar carArticle">
            <p>Total:</p>
            <p >$ <span id="precioFinal">592.25</span></p>
        </article>

        <script src="./js/carrito.js">       
        </script>

        <div class="promociones">
            <p> <strong>Envío gratis</strong> a toda la <strong>República Mexicana</strong> en compras mayores a
                <span class="rojo">$299</span> o en productos
                elegibles de nuestro catálogo
            </p>

            <p style="margin-bottom: 0;">Realiza tu pedido y recíbelo en <span class="rojo">23 horas</span> u
                obtén instantáneamente la versión digital de
                nuestros libros </p>

            <ul>
                <li><a href="/users/#direcciones"> <i class="fas fa-map-marker-alt"></i> <span> &nbsp Configurar Dirección de
                            Envío</span></a></li>
                <li><a href=""><i class="fas fa-info-circle"></i> <span>&nbsp Más Información sobre precios y tiempos de
                            entrega de Inside Books en la República Mexicana.</span></a></li>
            </ul>
        </div>



        <div class="botones">
            <button class='btn red agregarAlCarrito'>Proceder al pago</button>
            <button class='btn Azul comprarAhora' onclick="location.href='/home';">Seguir comprando</button>
        </div>
    </main>

    <img src="./images/bannerDescuentos.jpg" alt="Banner de descuentos" width="100%">

<%- include('../partials/footer') %>

    <script>
       function deleteItem(id){
        let confirmation = confirm("¿Estás seguro que desea eliminar este libro de su carrito?")
        if(confirmation){
            fetch('/products/remove-item-from-car/' + id,{method: 'DELETE'})
            .then(() => window.location.reload())
        }
        }

        function changeQuantity(id, input){
            let quantity = input.value
            fetch('/products/change-quantity-in-car/' + id,{
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({quantity})
            })
        }
    
    </script>
</body>

</html>
