<% let data ={css:["css/description.css","css/navBar.css", "css/navBarMobile.css"],
             jsfile:["./js/darkModeScript.js"],
             titulo: "Description"}%>

<%- include('../partials/head', data)%>

<body>
    <%- include('../partials/navBar') %>
    <%- include('../partials/navBarMobile') %>

    <main>
        <section class="datosPrincipales">
            <div class="materiaTitulo">
                <p>
                    <%= categoria %> > <%= nombreLibro%> 
                    
                </p>
                    <label class="editIcon">
                        <a title="Editar este libro." href="/products/<%= locals.id ? id:''%>/edit" onclick="return confirm('¿Desea editar este libro?')"><i class="far fa-edit"></i></a>
                    </label>

                    <form action="/products/delete/<%= locals.id ? id:''%>?_method=DELETE" method="POST" class="deleteIcon">
                        <button title="Eliminar este libro." type="submit" onclick="return confirm('¿Está seguro que desea eliminar este libro?')"><i class="far fa-trash-alt"></i></button>
                    </form>

                    <label class="heartIcon">
                        <input type="checkbox" name="favorito" id="favorito">
                        <i title="Añadir a favoritos." class="far fa-heart"></i>
                    </label>
                
            </div>

            <div class="portada">
                <img src="<%=portada%>" alt="">
                <h3 class="bookTitle">
                    <%= nombreLibro %>
                </h3>
            </div>

            <section class="dataLeft">
                <h3 class="bookTitle PC"><%= nombreLibro%></h3>
                <div class="tablaIdioma">
                    <p class="idioma">Edición en <%= idioma %>
                    </p>
                    <p class="autor"><span>por <span class="autorName">
                                <%= autor %>
                            </span></span></p>
                </div>

                <div class="formato">
                    <input class="hidden" type="checkbox" name="ebookButton" id="ebookButton">
                    <label for="ebookButton">Libro Electrónico <br> <span class="precio">US$ <%= Number(precioEbook).toFixed(2)
                                %> </span></label>

                    <input class="hidden" type="checkbox" name="pastaBlandaButton" id="pastaBlandaButton">
                    <label for="pastaBlandaButton">Pasta Blanda <br> <span class="precio">US$ <%= Number(precioBook).toFixed(2)
                                %></span></label>
                </div>
            </section>

            <section class="dataRight">
                <div class="promociones">
                    <p> <strong>Envío gratis</strong> a toda la <strong>República Mexicana</strong> en compras mayores a
                        <span class="rojo">$299</span> o en productos
                        elegibles de nuestro catálogo
                    </p>

                    <p style="margin-bottom: 0;">Realiza tu pedido y recíbelo en <span class="rojo">23 horas</span> u
                        obtén instantáneamente la versión digital de
                        nuestros libros </p>
                </div>
                <ul>
                    <li><a href=""> <i class="fas fa-map-marker-alt"></i> <span> &nbsp Configurar Dirección de
                                Envío</span></a></li>
                    <li><a href=""><i class="fas fa-info-circle"></i> <span>Más Información sobre precios y tiempos de
                                entrega de Inside Books en la República Mexicana.</span></a></li>
                </ul>
            </section>

            <section class="botonColumn">
                <div class="cantidad">
                    <p>Cantidad:</p>
                    <div class="number-input">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                            style="padding:1px 7px;"><i class="fas fa-minus-circle"></i></button>
                        <input class="quantity" min="1" name="quantity" value="1" type="number" readonly>
                        <button style="padding:1px 7px"
                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()"><i
                                class="fas fa-plus-circle"></i></button>
                    </div>
                </div>
                <div class="botones">
                    <button class='btn red agregarAlCarrito'>Agregar al carrito</button>
                    <button class='btn Azul comprarAhora'>Comprar ahora</button>
                </div>
            </section>

            <section class="productInfoTable">
                <h2>Información del Producto</h2>
                <table class=>
                    <tr>
                        <td class="sombrear">Editorial</td>
                        <td>
                            <%=editorial%>
                        </td>
                    </tr>
                    <tr>
                        <td class="sombrear">Idioma</td>
                        <td>
                            <%=idioma%>
                        </td>
                    </tr>
                    <tr>
                        <td class="sombrear">ISBN</td>
                        <td>
                            <%=isbn%>
                        </td>
                    </tr>
                    <tr>
                        <td class="sombrear">Materia</td>
                        <td>
                            <%=categoria%>
                        </td>
                    </tr>
                    <tr>
                        <td class="sombrear">Número de páginas</td>
                        <td>
                            <%=paginas%>
                        </td>
                    </tr>
                    <tr>
                        <td class="sombrear">Año</td>
                        <td>
                            <%=year%>
                        </td>
                    </tr>
                </table>
            </section>


        </section>


        <section class="acercaDelLibro">
            <h2>Acerca de este Libro</h2>
            <%-detallesDelLibro%>

        </section>

        <section class="acercaDelAutor">
            <h2>Acerca del Autor</h2>
            <%- detallesAutor%>

        </section>

        <% if(locals.comentarios){ %>

            <section class="comentarios">
                <h2>Reseñas de Usuarios</h2>

                <% comentarios.forEach(c=> { %>
                    <%- include('../partials/comentario', c) %>
                        <% })%>
            </section>
            <% }%>

                <script>
                    const a = document.querySelectorAll(".calificacion i")
                    console.log(a)
                    a.forEach(a => {
                        a.addEventListener("click", create)
                    })

                    function create(event) {
                        let i = document.createElement('ul');
                        i.style.position = 'fixed';
                        i.innerHTML = `<i class="fas fa-star animatedStar animatedStar1"></i>
                                      <i class="fas fa-star animatedStar animatedStar2"></i>
                                      <i class="fas fa-star animatedStar animatedStar3"></i>
                                      <i class="fas fa-star animatedStar animatedStar4"></i>
                                      <i class="fas fa-star animatedStar animatedStar5"></i>
                                      <i class="fas fa-star animatedStar animatedStar6"></i>
                                      <i class="fas fa-star animatedStar animatedStar7"></i>
                                      <i class="fas fa-star animatedStar animatedStar8"></i>`
                        i.style.left = event.clientX + 'px';
                        i.style.top = event.clientY + 'px';
                        document.body.appendChild(i);
                    }
                </script>

    </main>

    <img src="./images/bannerDescuentos.jpg" alt="Banner de descuentos" width="100%">

<%- include('../partials/footer') %>
</body>

</html>
