<% let data={css:["css/agregarLibro.css","css/navBar.css", "css/navBarMobile.css" ], jsfile:["./js/darkModeScript.js"],
    titulo: "Agregar libro" }%>

    <%- include('../partials/head', data)%>

<body>

    <script
        src="https://cdn.tiny.cloud/1/3c54177q3lh311521ar9zn5r80ehbssagbubwkxw3apnsps3/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
        });
    </script>

    <%- include('../partials/navBar') %>
    <%- include('../partials/navBarMobile') %>


    <form class="container" autocomplete="false" action=<%= edit ? "/products/" + id + "/edit?_method=PUT" :"/products/"%> method="POST"
        enctype="multipart/form-data">
        <h1 class="pageTitle">
            <%- tittle %>
        </h1>
        <div class="form-row">
            <div class="form-group col-sm-6">
                <label for="nombreLibro">Título del Libro:</label>
                <input type="text" name="nombreLibro" class="form-control" id="nombreLibro"
                    placeholder="Título" value="<%= edit ? nombreLibro : '' %>">
            </div>

            <div class="form-group col-sm-6">
                <label for="autor">Autor:</label>
                <input type="text" class="form-control" id="autor" name="autor" placeholder="Autor"
                    value="<%= edit ? autor : '' %>">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-sm-4">
                <label for="categoria">Categoría:</label>
                <input type="text" class="form-control" name="categoria" id="categoria"
                    placeholder="Programación" value="<%= edit ? (Array.isArray(categoria) ? categoria[0].dataValues.nombre :categoria) : '' %>">
            </div>

            <div class="form-group col-sm-4">
                <label for="subcategoria">Subcategoría:</label>
                <input type="text" class="form-control" name="subcategoria" id="subcategoria"
                    placeholder="Python" value="<%= edit ? (Array.isArray(subcategoria) ? subcategoria[0].dataValues.nombre :subcategoria) : '' %>">
            </div>

            <div class="form-group col-sm-4">
                <label for="editorial">Editorial:</label>
                <input type="text" class="form-control" name="editorial" id="editorial"
                    placeholder="Springer" value="<%= edit ? editorial : '' %>">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-sm-4">
                <label for="isbn">ISBN:</label>
                <input type="text" class="form-control" id="isbn" name="isbn"
                    placeholder="9781449340377" value="<%= edit ? isbn : '' %>">
            </div>

            <div class="form-group col-sm-4">
                <label for="precioBook">Precio del Libro</label>
                <input id="precioBook" class="form-control" type="number" min="0" step="0.5"
                    name="precioBook" placeholder=" " value="<%= edit ? precioBook : '' %>">
            </div>

            <div class="form-group col-sm-4">
                <label for="precioBook">Precio Ebook:</label>
                <input id="precioBook" class="form-control" type="number" min="0" step="0.5"
                    name="precioEbook" placeholder=" " value="<%= edit ? precioEbook : '' %>">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-sm-4">
                <label for="exampleFormControlSelect1">Idioma:</label>
                <select class="form-control" name="idioma" id="idioma">
                    <option value="Inglés" <%= edit && locals.idioma == 'Inglés'? 'selected': '' %>>Inglés</option>
                    <option value="Español" <%= edit && locals.idioma == 'Español'? 'selected': '' %>>Español</option>
                    <option value="Francés" <%= edit && locals.idioma == 'Francés'? 'selected': '' %>>Francés</option>
                    <option value="Italiano" <%= edit && locals.idioma == 'Italiano'? 'selected': '' %>>Italiano</option>
                </select>
            </div>

            <div class="form-group col-sm-4">
                <label>Año</label>
                <input type="number" class="form-control" id="year" min="1980" max="2021" step="1"
                    name="year" placeholder=" " value="<%= edit ? year : '' %>">
            </div>

            <div class="form-group col-sm-4">
                <label for="paginas">Número de Páginas</label>
                <input type="number" class="form-control" id="paginas" min="0" step="1" name="paginas"
                    placeholder=" " value="<%= edit ? paginas : '' %>">
            </div>
        </div>

        <div class="container center-block">
            <div class="row">
                <div>
                    <img src="<%= edit ? portada : '' %>" alt="portada" id="portadaImg"
                    style="width: 200px; ">
                </div>

            <div>
                <label for="imagen">Seleccionar imagen: </label>
                <input type="file" onchange="loadFile(event)" name="portada"
                    class="form-control-file .form-control-lg" id="imagen">
            </div>

            <script>
                let loadFile = function (event) {
                    let output = document.getElementById('portadaImg');
                    let label = document.querySelector('#nombreArchivo')

                    output.src = URL.createObjectURL(event.target.files[0]);
                    label.innerHTML = event.target.files[0].name
                    output.onload = function () {
                        URL.revokeObjectURL(output.src)
                    }
                };
            </script>    
            </div>
        </div>

        <div class="form-group">
            <h4>Acerca de este libro</h4>
            <textarea id="detallesLibro" name="detallesDelLibro">
            <%= edit ? detallesDelLibro : '' %>
            </textarea>
        </div>

        <div class="autorDetails">
            <h4>Acerca del Autor</h4>
            <textarea id="detallesAutor" name="detallesAutor">
            <%= edit ? detallesAutor : '' %>
            </textarea>
        </div>


        <div class="botones">
            <button class="btn btn-primary" type="submit"><%= edit ? "Editar Libro" : 'Agregar Libro' %></button>
            <button class="btn btn-danger" type="reset">Borrar</button>
        </div>
    </form>

    <%- include('../partials/footer') %>
</body>
</html>